Exercise 1: Identifying Data Types


A company’s financial reports stored in an Excel file. >> Structured
Photographs uploaded to a social media platform. >> Unstructured
A collection of news articles on a website. >> Unstructured
Inventory data in a relational database. >> Structured
Recorded interviews from a market research study. >> Unstructured

Exercise 2: Transformation Exercise



1. Série d'articles de blog sur des voyages

>> Méthode de Structuration : NLP + Extraction d'Entités

= Approche : =

Analyse de Texte (NLP) :

    * Tokenisation et Lemmatisation pour isoler les mots-clés.

    * Reconnaissance d'Entités (NER) pour extraire :

        ° Lieux (villes, pays, monuments)

        ° Dates (durée du voyage)

        ° Activités (randonnée, visite, etc.)

    * Analyse de Sentiment pour évaluer l’expérience (positif/négatif/neutre).


Format Structuré (Exemple) :

Blog_ID	Lieu	Activité	Durée	Sentiment	Mots-Clés
1	Paris, France	Visite Musée	5 jours	Positif	Louvre, gastronomie

Outils Recommandés :

    * SpaCy ou NLTK pour le NLP

    * BERT pour une analyse sémantique avancée



2. Enregistrements Audio d’Appels Client

>> Méthode de Structuration : Transcription + Analyse Thématique

= Approche : =

Transcription Automatique (STT) :

    * Convertir l’audio en texte via ASR (Automatic Speech Recognition).

    * Exemple : Google Speech-to-Text ou Whisper (OpenAI).


Extraction d’Informations :

    * Catégorisation (réclamation, question, feedback).

    * Détection d’Intention (ex : "annuler un abonnement").

    * Émotion (tonalité : frustré, satisfait).


Format Structuré (Exemple) :

Call_ID	Transcription	Catégorie	Intention	Émotion
101	"Je veux annuler mon forfait mobile"	Réclamation	Résiliation contrat	Frustration

Outils Recommandés :

    * Whisper (transcription)

    * Dialogflow (analyse d’intention)
    

3. Notes Manuscrites d’une Séance de Brainstorming
Méthode de Structuration : OCR + Réseau de Neurones
Approche :

Reconnaissance d’Écriture (OCR) :

Google Vision AI ou Tesseract pour convertir l’image en texte.

Organisation des Idées :

Clustering (regroupement par thème : marketing, produit, etc.).

Priorisation (mots comme "urgent" ou "idée clé").

Format Structuré (Exemple) :

Note_ID	Texte Extrait	Thème	Priorité	Auteur
1	"Lancer une app mobile"	Développement	Haute	Jean
Outils Recommandés :

Tesseract (OCR)

K-Means (clustering non supervisé)

4. Tutoriel Vidéo de Cuisine
Méthode de Structuration : Vision par Ordinateur + NLP
Approche :

Analyse Vidéo (CV) :

Détection d’Objets (ingrédients, ustensiles).

Reconnaissance d’Actions (émincer, cuire).

Transcription Audio :

Extraire les étapes de la recette.

Structuration Temporelle :

Découpage en étapes avec timestamps.

Format Structuré (Exemple) :

Étape	Ingrédients	Action	Durée	Ustensile
1	Oignon, Huile	Émincer	2 min	Couteau
Outils Recommandés :

OpenCV (détection d’objets)

YOLO (modèle temps réel)

FFmpeg (découpage vidéo)

Synthèse des Méthodes
Source	Technologie Clé	Format Final	Cas d’Usage
Blog posts	NLP + NER	Table Lieux/Activitiés	Analyse touristique
Audio calls	STT + NLP	Base de données clients	Service client automatisé
Notes manuscrites	OCR + Clustering	Matrice idées/thèmes	Gestion de projet
Vidéo tutorielle	Computer Vision + ASR	Recette structurée	Assistant culinaire (IA)

Exercise 3 : Import a file from Kaggle

In [3]:
import pandas as pd

df = pd.read_csv("train.csv")

In [4]:
df.head()  # Displays the first 5 rows by default

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Exercise 4: Importing a CSV File

In [5]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("iris_dataset.csv")

# Display the first five rows
print(df.head())

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

Exercise 5 : Export a dataframe to excel format and JSON format.

In [6]:
import pandas as pd

# Create a simple DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'London']
}

df = pd.DataFrame(data)

# Export to Excel format
df.to_excel("sample_data.xlsx", index=False)  # index=False to avoid writing row numbers

# Export to JSON format
df.to_json("sample_data.json", orient="records", indent=4)

# Display the DataFrame
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London

Exercise 6: Reading JSON Data

In [9]:
import pandas as pd

# Load JSON from file
df = pd.read_json("posts.json")

# Display the first five rows
print(df.head())

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...